/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* END OF CSS RESET */

/* START OF CUSTOM CSS */

@font-face {
  font-family: norseBold;
  src: url(fonts/Norse-Bold.otf)
}

:root {
  --body-bg-color: rgb(17, 17, 17);
  --main-left-font-color: white;
  --main-right-font-color: white;
}

body {
  font-size: 18px;
  background-color: var(--body-bg-color)
}

.main {
  margin: auto;
  display: flex;
  flex-direction: row;
  background-color: rgb(244, 244, 244);
  height: 100vh;
  width: 1150px;
}

.main-left {
  width: 575px;
  background-image: url(img/leaves.jpg);
  background-size: 475px;
  color: var(--main-left-font-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: norseBold, Courier, monospace;
  font-size: 5rem;
  margin-top: 180px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgba(17, 17, 17, 0.6);
}

.logo img {
  width: 80px;
}

.logo h2 {
  margin-top: 20px;
}

footer {
  margin-bottom: 20px;
}

footer a {
  color: var(--main-left-font-color)
}